<%= form_with(model: coffee_drink) do |form| %>
  <% if coffee_drink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coffee_drink.errors.count, "error") %> prohibited this coffee_drink from being saved:</h2>

      <ul>
        <% coffee_drink.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :recipe %>
    <%= form.text_field :recipe %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field(:picture, accept: 'image/png,image/gif,image/jpeg') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
