<p id="notice"><%= notice %></p>

<h1>Coffee Drinks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Recipe</th>
      <th>Cost</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coffee_drinks.each do |coffee_drink| %>
      <tr>
        <td><%= coffee_drink.name %></td>
        <td><%= coffee_drink.recipe %></td>
        <td><%= coffee_drink.cost %></td>
        <td><%= image_tag(coffee_drink.picture) %></td>
        <td><%= link_to 'Show', coffee_drink %></td>
        <td><%= link_to 'Edit', edit_coffee_drink_path(coffee_drink) %></td>
        <td><%= link_to 'Destroy', coffee_drink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coffee Drink', new_coffee_drink_path %>
