<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coffee_drink.name %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @coffee_drink.recipe %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @coffee_drink.cost %>
</p>

<div>
  <%= image_tag(@coffee_drink.picture) %>
</div>


<%= link_to 'Edit', edit_coffee_drink_path(@coffee_drink) %> |
<%= link_to 'Back', coffee_drinks_path %>
